#button_container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

#back_btn {
  position: absolute;
  top: 10px;
  font-size: 20px;
  left: 200px;
  width: 100px;
  height: 40px;
  font-family: "raleway";
  font-weight: bold;
  border-radius: 7px;
  -webkit-box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.75);
  background-color: rgb(228, 198, 198);
  border: 2px solid black;
  transition: ease 1s;
}

#back_btn:hover {
  transform: scale(1.06);
  cursor: pointer;
  background-color: rgb(223, 155, 155);
}

@media (max-width: 930px) {
  #button_container {
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  #back_btn {
    position: relative;
    margin: 0 auto;
    left: 0;
  }
}
