#main_container {
  display: flex;
  width: 1400px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  position: relative;
  width: 400px;
  height: 500px;
  gap: 10px;
  text-align: center;
  margin-bottom: 110px;
  margin-top: 90px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.container.fade_in_visible {
  opacity: 1;
  transform: translateY(0);
}

.image {
  width: 300px;
  border-radius: 7px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  -webkit-box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.75);
}

.image:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.4;
}

.image_overlay {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black,
    -2px -2px 0px black, 2px 0px 0px black, -2px 0px 0px black,
    0px 2px 0px black, 0px -2px 0px black;
  font-size: 50px;
  bottom: 160px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.container:hover .image_overlay {
  opacity: 1;
}

.volume {
  font-family: "roboto";
  color: antiquewhite;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black,
    -2px -2px 0px black, 2px 0px 0px black, -2px 0px 0px black,
    0px 2px 0px black, 0px -2px 0px black;
  font-size: 40px;
}

.name {
  font-family: "raleway";
}

.date {
  font-family: "raleway";
}

.comic_number {
  font-family: "raleway";
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (width < 1320px) {
  #main_container {
    width: 1000px;
  }
}

@media (width < 875px) {
  #main_container {
    width: 700px;
    justify-content: center;
  }
}

@media (width < 700px) {
  #main_container {
    width: 500px;
  }
}

@media (width < 450px) {
  #main_container {
    width: 300px;
  }

  .image {
    width: 180px;
  }

  .image_overlay {
    font-size: 30px;
    top: 200px;
  }
}
